/* landing page */
.primary-container{
   text-align: center;
   background-image: url("../images/pizza.jpg");
   background-repeat: no-repeat;
   background-size: 1500px;
   height: 100vh;
   color: white;
   margin: 50px;
   font-weight: 1000px;
}; 


  .primary-content-2{
   background-image: url("images/Pizza-Toppings.jpg");
   margin: 40px;
   background-repeat: no-repeat;
   height: 50vh;
   background-position: center;
   color: blue;
};